#navbar {
	ul {
		li {
			
		}
	}
	h1 {
		font-family: 'Simonetta', cursive;
		margin-top:40px;
		font-size:40px;
		color:#B6423E;
	}
}
p {
	font-family: 'Simonetta', cursive;
	font-size:25px;
	line-height:100%;
	padding-left:25px;
	padding-right: 25px;
	text-align:center;
	
	#uvp {
		color:#D6E9B4;
	}
}
.container {
	padding:30px;
}
body {
    margin:0;
    padding:0;
    background: #777 url('foodwine.png') center fixed;
    background-repeat:no-repeat;    
    text-align:center;
	color:#D6E9B4;
}
#submitbeta {
	position:relative;
	top:-5px;
}
.field {
	text-align:center;
}
#betasignup_email {
	padding:13px;
}

