#navbar {
	h1 {
		font-family: 'The Girl Next Door', cursive;
		margin-top:40px;
		font-size:40px;
		color:#A8FF45;
	}
}
#navbar ul li {
	display:inline;
	padding:5px;
}
#navbar ul li a {
	color:black;
}
#navbar ul li a:hover {
	background-color:#B6423E;
}
ul li {
	list-style-type:none;
}
p {
	font-family: 'Simonetta', cursive;
	font-size:25px;
	line-height:100%;
	padding-left:25px;
	padding-right: 25px;
	text-align:center;
	
	#uvp {
		color:#FF8C6D;
	}
}
.container {
	padding:30px;
}
body {
    margin:0;
    padding:0;
    background: url('foodwine.png') center fixed;
    background-repeat:no-repeat;    
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    text-align:center;
	color:#D6E9B4;
}
#submitbeta {
	position:relative;
	top:-5px;
}
.field {
	text-align:center;
}
#betasignup_email {
	padding:13px;
}
